.spanBlock {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 25px;
    height: 35px;
}

.span {
    color: #0080FF;
    font-size: 16px;
    font-weight: 500;
}

.input {
    display: inline-block;
    height: 35px;
    max-width: 275px;
    margin-bottom: 25px;
}

.pen {
}