.App {
    --header_height: 60px;
    display: flex;

    align-items: center;
    flex-direction: column;
    gap: 100px;
    min-height: 100vh;
}

.hw {

}

.hwTitle {
    margin-top: 30px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}

