.sendForm {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.textarea {
    width: 100%;
    border-radius: 30px;
    resize: none;
    height: 50px !important;
    padding: 16px 0 16px 20px
}

.button {
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {

}

.button:active {

}
