.burgerMenuIcon {
    cursor: pointer;
}

.header {
    display: flex;
    width: 100%;
    padding: 20px 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px 0px rgba(29, 33, 38, 0.10), 0px 0px 40px 0px rgba(29, 33, 38, 0.13);
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
}